recursive-include promptshield/attack_db *.json
include promptshield/models/tfidf_core.pkl
include promptshield/models/rf_core.pkl
include promptshield/models/logistic_regression.pkl
include promptshield/models/linear_svc.pkl
include LICENSE
include CHANGELOG.md
